.cards{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}

.card-box{

    background:rgb(49, 49, 52);

    width:220px;

    padding:20px;

    border-radius:10px;

    text-align:center;

    box-shadow:0px 0px 8px rgba(0,0,0,0.1);


}

.card-box h1{

    color: #d4af37;

}